body {
    font-family: Arial, sans-serif;
    background: url('/static/winter-blue-pink-gradient-background-vector_53876-117275.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c85db;
    padding: 20px 20px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a, h1 {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-right {
    margin-left: auto;
}

/* Main container and form styles */
.container {
    display: flex;
    flex-direction: column; /* Ensure flex container is column-oriented */
    margin: 20px;
}

.form-container {
    flex: 2;
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], textarea, input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    margin: 20px 20px 20px 0px;
    gap: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color:#3887BE;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Recent links section */
.recent-links {
    margin-top: 20px; /* Added margin to separate from form */
    max-width: 400px; /* Limit the width of recent links container */
}

.recent-links h2 {
    margin-top: 0;
}

.recent-links ul {
    list-style: none;
    padding: 0;
}

.recent-links ul li {
    margin-bottom: 10px;
}

.recent-links ul li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #007bff;
    text-decoration: none;
    max-width: 100%;
}

.recent-links ul li a:hover {
    text-decoration: underline;
}

/* Popup overlay and content */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
}

.spinner {
    border: 6px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-top: 6px solid #ffffff; /* White top border */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.video-container {
    margin-top: 2rem;
}
